<div class="container">
  <div class="d-flex align-items-center gap-2 mb-3">
    <button class="btn btn-primary" (click)="setActiveTab(0)" [disabled]="activeTab() === 0">
      Events
    </button>
    <button class="btn btn-primary" (click)="setActiveTab(1)" [disabled]="activeTab() === 1">
      Policies
    </button>
    <button class="btn btn-primary" (click)="setActiveTab(2)" [disabled]="activeTab() === 2">
      Registrations
    </button>
    <button class="btn btn-danger" (click)="logout()">
      Logout
    </button>
  </div>
  @if (activeTab() === 0) {
    <app-admin-events />
  } @else if (activeTab() === 1) {
    <app-admin-policies />
  } @else if (activeTab() === 2) {
    <app-admin-registrations />
  }
</div>