<section class="bg-cover bg-fixed shadow-inner" id="support" style="background: url({{url}})">
  <div class="dark-overlay py-5">
    <div class="overlay-content index-forward py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 text-white">
            <p class="lead text-serif mb-1">Support our Cause</p>
            <h2 class="text-shadow mb-4">Help the Mission!</h2>
            <p>Unless specified, donations received will go towards the costs of the project, as well as helping people who would otherwise be unable to attend the events that we run.</p>
          </div>
          <div class="col-lg-5">
            <div class="card rounded-0 border-0">
              <div class="card-body p-lg-5">
                <a id="donate-button" class="btn btn-primary w-100" href="https://www.paypal.com/donate/?hosted_button_id=TWCB29UUB32FQ">Donate now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>