<div class="password-field">
  @if (control) {
    <div class="d-flex flex-row">
      <input
        [class.is-invalid]="formControl.invalid && (formControl.touched || formControl.dirty)"
        [type]="showPassword() ? 'text' : 'password'"
        [formControl]="control"
        [formlyAttributes]="fieldType ?? { }"
        class="form-control me-2"
        placeholder="{{ props.placeholder || '' }}"
      />
      <button type="button"
        class="btn btn-outline-secondary "
        (mousedown)="showPassword.set(true)"
        (mouseup)="showPassword.set(false)">
          <fa-icon [icon]="showPassword() ? iconSvc.getIcon('fas', 'eye') : iconSvc.getIcon('fas', 'eye-slash')" />
      </button>
    </div>
  }
</div>