<div class="row align-items-stretch gx-0" id="weekends">
  <div class="col-12 col-lg-6 half-page-banner bg-cover bg-center min-height-300">
    <div class="d-flex justify-content-center align-items-center w-100 h-100">
      <video width="640" height="360" controls>
        <source [src]="videoUrl" type="video/mp4" />
        <img src="/api/img/pilgrimage.jpg?w=640&f=webp"
          srcset="
            /api/img/pilgrimage.jpg?w=320&f=webp 320w,
            /api/img/pilgrimage.jpg?w=640&f=webp 640w,
            /api/img/pilgrimage.jpg?w=1024&f=webp 1024w
          "
          sizes="(max-width: 600px) 100vw, 600px"
          alt="Revive Weekends Banner"
          loading="lazy"
          decoding="async"
          class="w-100 h-100 bg-top-right bg-img-fit"
        />
      </video>
    </div>
  </div>
  <div class="col-12 col-md-6 order-lg-first">
    <div class="d-flex flex-column p-5 justify-content-center text-lg-end">
      <div class="w-100">
        <p class="text-serif text-primary mb-0">
          Sharing our Faith
        </p>
        <h2 class="text-uppercase mb-0">
          {{title}}
        </h2>
        <div class="row">
          <div class="col-lg-10 ms-auto">
            <p class="text-muted mt-4 mb-0">​
              {{description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>