<div class="container-fluid px-0" id="weekends">
  <div class="row align-items-stretch">
    <div class="col-lg-6 py-lg-5 order-2 order-lg-1">
      <div class="h-100 d-flex flex-column p-5 justify-content-center text-lg-end">
        <div class="w-100">
          <p class="text-serif text-primary mb-0">Sharing our Faith</p>
          <h2 class="text-uppercase mb-0">{{title}}</h2>
          <div class="row">
            <div class="col-lg-10 ms-auto">
              <p class="text-muted mt-4 mb-0">​{{description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 half-page-banner bg-cover bg-center order-1 order-lg-2" style="background: url({{img}})"></div>
  </div>
</div>