<div class="container py-5 text-center" id="about">
  <header class="mb-5">
    <p class="text-serif mb-0 text-primary">
      About Us
    </p>
    <h2 class="text-uppercase">
      Who Are We?
    </h2>
  </header>
  <div class="row">
    <div class="col-lg-4">
      <div class="text-primary mb-4">
        <fa-icon [icon]="iconSvc.getIcon('fas', 'bible')" size="3x" />
      </div>
      <h5>
        Scripture
      </h5>
      <p class="text-muted">
        We promote the basic message of the Gospel and the transformative truth that the Holy Spirit is living and active within hearts that are in a state of grace.
      </p>
    </div>
    <div class="col-lg-4">
      <div class="text-primary mb-4">
        <fa-icon [icon]="iconSvc.getIcon('fas', 'church')" size="3x" />
      </div>
      <h5>
        Transformed by the Spirit
      </h5>
      <p class="text-muted">
        We aim to provide a space for people to encounter the love of God and to be transformed by the power of the Holy Spirit.
      </p>
    </div>
    <div class="col-lg-4">
      <div class="text-primary mb-4">
        <fa-icon [icon]="iconSvc.getIcon('fas', 'praying-hands')" size="3x" />
      </div>
      <h5>
        Evangelisation
      </h5>
      <p class="text-muted">
        We focus, but are not limited to the evangelisation of youth and young adults with the aim to lead them to live a grace filled lifestyle, actively giving back to their own parish community.
      </p>
    </div>
  </div>
</div>