<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="img/logo.png" width="100px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link clickable" href="/events">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" (click)="scrollTo('#pilgramages')">Pilgramages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" (click)="scrollTo('#adoration')">Adoration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" (click)="scrollTo('#weekends')">Revive Weekends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" (click)="scrollTo('#support')">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" (click)="scrollTo('#contact')">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>