<div class="modal-header">
  <h5 class="modal-title">{{title}}</h5>
  @if (!loading()) {
    <button type="button" class="btn-close" (click)="close()"></button>
  }
</div>
<div class="modal-body">
  <formly-form [fields]="event!.fields" [model]="model" [form]="form" />
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="form.invalid || this.loading()">
    @if (loading()) {
      <fa-icon [icon]="iconSvc.getIcon('fas', 'spinner')" animation="spin" />
    } @else {
      <fa-icon [icon]="iconSvc.getIcon('fas', 'paper-plane')" />
      Submit
    }
  </button>
</div>