<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="img/logo.png" width="100px">
    </a>
    @if ( showNav ( ) ) {
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          @for (item of navItems [ location.path ( ) ]; track $index) {
            <li class="nav-item">
              @if (item.href && item.externalLink) {
                <a class="nav-link clickable" href="{{item.href}}">{{item.title}}</a>
              } @else if (item.href) {
                <a class="nav-link clickable" [routerLink]="item.href">{{item.title}}</a>
              } @else if (item.onclick) {
                <a class="nav-link clickable" (click)="item.onclick()">{{item.title}}</a>
              } @else {
                <a class="nav-link clickable">{{item.title}}</a>
              }
            </li>
          }
        </ul>
      </div>
    }
  </div>
</nav>