<div>
  <p class="figure-caption">Logged in as: {{ adminService.user ( )?.email }}</p>
  @if (loading()) {
    <div class="d-flex flex-column align-items-center m-3">
      <fa-icon [icon]="faSpinner" animation="spin" size="2x" class="mb-2" />
      <p>Loading...</p>
    </div>
  } @else {
    <button class="btn btn-primary mb-2" (click)="addPolicy()">
      <fa-icon [icon]="faPlus" />
    </button>
    <div class="table-responsive">
      <table class="table table-striped" id="events-table">
        <thead>
          <tr class="text-center align-middle">
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (policy of policies; track $index ) {
            <tr class="text-center align-middle">
              <td>{{ policy.title }}</td>
              <td>{{ policy.category }}</td>
              <td>
                <div class="d-flex justify-content-center gap-2">
                  <button class="btn btn-danger" (click)="deletePolicy(policy.id)">
                    <fa-icon [icon]="faTrash" />
                  </button>
                  <button class="btn btn-primary" (click)="viewPolicy(policy)">
                    <fa-icon [icon]="faEdit" />
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
