<section class="bg-cencer bg-cover" style="background: url(img/hero-bg-3.jpg); background-position: center;">
  <div class="overlay-content py-5 index-forward">
    <div class="container py-5 mt-5">
      <div class="row py-5 text-white text-center">
        <div class="col-lg-7 mx-auto">
          <h1 class="text-xl">Event Sign Up</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row align-items-stretch gx-0 demo-rounded overflow-hidden gy-lg-0 gy-2">
    @for (event of events; track $index) {
      <div class="col-lg-3 col-md-6 bg-center bg-cover" style="min-height: 200px; background: url({{event.img}}); margin: 0"></div>
      <div class="col-lg-3 col-md-6 p-5" style="margin: 0">
        <h3 class="h4 mb-3">{{event.title}}</h3>
        <p class="mb-0 text-small text-muted mb-4">{{event.description}}</p>
        <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
      </div>
    }
  </div>
  <figure class="p-4 p-lg-5 text-center m-0">
    <blockquote class="blockquote mb-4">
      <p class="text-serif">{{quote}}</p>
    </blockquote>
    <figcaption class="blockquote-footer mb-0">
      <cite class="text-small">{{quoteAuthor}}</cite>
    </figcaption>
  </figure>
</section>
<app-footer />