<div class="modal-header">
  <h1 class="modal-title fs-5">Registration Details</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
</div>

<div class="modal-body m-2">
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td>{{registration?.name}}</td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td>
            <a href="mailto:{{registration?.email}}">{{registration?.email}}</a>
          </td>
        </tr>
        <tr>
          <th scope="row">Date of Birth</th>
          <td>{{dateSvc.reformat(registration?.dob, "dd/MM/yyyy")}}</td>
        </tr>
        <tr>
          <th scope="row">Telephone</th>
          <td>
            <a href="tel://{{registration?.telephone}}">{{registration?.telephone}}</a>
          </td>
        </tr>
        <tr>
          <th scope="row">Emergency Contact</th>
          <td>{{registration?.emergency_contact_name}}</td>
        </tr>
        <tr>
          <th scope="row">Has Paid</th>
          @if (registration?.paid) {
            <td>Yes</td>
          } @else {
            <td>No</td>
          }
        </tr>
        <tr>
          <th scope="row">Allergies or Medical Requirements</th>
          <td>{{registration?.allergies_or_medical_requirements}}</td>
        </tr>
        <tr>
          <th scope="row">Accepted Event Policy</th>
          @if (registration?.accepted_event_policy) {
            <td>Yes</td>
          } @else {
            <td>No</td>
          }
        </tr>
        <tr>
          <th scope="row">Accepted GDPR</th>
          @if (registration?.accepted_gdpr) {
            <td>Yes</td>
          } @else {
            <td>No</td>
          }
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Title of Event</th>
          <td>{{registration?.title}}</td>
        </tr>
        <tr>
          <th scope="row">Date From</th>
          <td>{{dateSvc.reformat(registration?.date_from, "dd/MM/yyyy")}}</td>
        </tr>
        <tr>
          <th scope="row">Date To</th>
          <td>{{dateSvc.reformat(registration?.date_to, "dd/MM/yyyy")}}</td>
        </tr>
        <tr>
          <th scope="row">Location</th>
          <td>{{registration?.location}}</td>
        </tr>
        @if (registration.timetable_link) {
          <tr>
            <th scope="row">Link to the Timetable</th>
            <td>
              <a href="{{registration?.timetable_href}}">{{registration.timetable_link}}</a>
            </td>
          </tr>
        }
        @if (registration.poster_link) {
          <tr>
            <th scope="row">Link to the Poster</th>
            <td>
              <a href="{{registration?.poster_href}}">{{registration.poster_link}}</a>
            </td>
          </tr>
        }
        @if (registration.featured_image) {
          <tr>
            <th scope="row">Link to the Featured Image</th>
            <td>
              <a href="{{registration?.featured_href}}">{{registration.featured_image}}</a>
            </td>
          </tr>
        }
        <tr>
          <th scope="row">Event Price</th>
          <td>{{registration?.price | currency: "GBP"}}</td>
        </tr>
        <tr>
          <th scope="row">Donation or Payment Requirement</th>
          @if (registration?.payment_required) {
            <td>Payment Required</td>
          } @else {
            <td>Donation</td>
          }
        </tr>
        <tr>
          <th scope="row">Link to the Event Policy</th>
          <td>
            <a href="javascript:void(0)" (click)="openPolicy(registration?.policy, registration?.policy_description)">
              {{registration?.policy}}
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">Link to the GDPR Policy</th>
          <td>
            <a href="javascript:void(0)" (click)="openPolicy(registration?.gdpr, registration?.gdpr_description)">
              {{registration?.gdpr}}
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">Accepted Event Policy</th>
          @if (registration?.accepted_event_policy) {
            <td>Yes</td>
          } @else {
            <td>No</td>
          }
        </tr>
        <tr>
          <th scope="row">Accepted GDPR</th>
          @if (registration?.accepted_gdpr) {
            <td>Yes</td>
          } @else {
            <td>No</td>
          }
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
</div>