<div class="modal-header">
  <h4 class="modal-title">Privacy Policy for REVIVE Scotland</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
  <caption style="display: inline-block;">
    Contact: <a href="mailto:luca@revivescotland.co.uk">{{contact}}</a>
  </caption>
  <p style="white-space: pre-wrap; max-height: 700px; overflow-y: auto; padding-right: 10px;">{{body}}</p>
</div>
<div class="modal-footer">
  <caption>Last updated: {{lastUpdated}}</caption>
</div>