<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>

<div class="modal-body pb-0">
  <formly-form [form]="this.form" [model]="this.model" [fields]="this.fields" />
  @if (body) {
    <p [innerHTML]="body"></p>
  }
</div>

@if (!hideConfirmButton) {
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="confirm()" [disabled]="this.form.invalid">
      <fa-icon [icon]="confirmIcon" />&nbsp;
      {{confirmText}}
    </button>
  </div>
}