<footer class="text-white">
  <div class="border-top border-dark text-center bg-dark-subtle pb-3 pt-3">
    <div class="text-small text-muted ">
      <!-- <a (click)="logout()" class="clickable">
        <fa-icon [icon]="iconSvc.getIcon('fas', 'sign-out-alt')" />
        Logout
      </a> -->
      <div>&copy; {{currentYear}}. All Rights Reserved.</div>
    </div>
    <p class="mb-0 text-muted">
      Website Designed by <a class="reset-anchor" [href]="me">Matthew Frankland</a>
    </p>
  </div>
</footer>