<div class="container">
  <h1>Current Bookings</h1>
  <p class="figure-caption">Logged in as: {{ adminService.user?.email }}</p>
  <button class="btn btn-primary mb-2" (click)="addEvent()">
    <fa-icon [icon]="faPlus" />
  </button>
  <div class="table-responsive">
    <table class="table table-striped" id="events-table">
      <thead>
        <tr class="text-center align-middle">
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Price Suggested/Required</th>
          <th scope="col">Timetable</th>
          <th scope="col">Poster</th>
          <th scope="col">Event Policy</th>
          <th scope="col">GDPR</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (event of events; track $index ) {
          <tr class="text-center align-middle">
            <td>{{ event.title }}</td>
            @if (event.price) {
              <td>{{ event.price | currency: "GBP" }}</td>
            } @else {
              <td>Free</td>
            }
            @if (event.suggested_price) {
              <td>Suggested</td>
            } @else {
              <td>Required</td>
            }
            <td (click)="openDoc('Timetable', event.timetable_link)">
              <a class="clickable">{{ event.timetable_link }}</a>
            </td>
            <td (click)="openDoc('Poster', event.poster_link)">
              <a class="clickable">{{ event.poster_link }}</a>
            </td>
            <td (click)="openPolicy(event.policy_title)">
              <a class="clickable">{{ event.policy_title }}</a>
            </td>
            <td (click)="openPolicy(event.gdpr_title)">
              <a class="clickable">{{ event.gdpr_title }}</a>
            </td>
            <td>
              <div class="d-flex justify-content-center gap-2">
                <button class="btn btn-danger" (click)="deleteEvent(event.id)">
                  <fa-icon [icon]="faTrash" />
                </button>
                <button class="btn btn-primary" (click)="editEvent(event.id)">
                  <fa-icon [icon]="faEdit" />
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
