<section class="bg-cover bg-fixed shadow-inner" id="pilgramages" style="background: url({{img}})">
  <div class="primary-overlay py-5">
    <div class="overlay-content z-index-20 position-relative py-5">
      <div class="container py-5 text-white text-center" style="backdrop-filter: blur(5px) saturate(70%);">
        <h2 class="text-xl text-shadow mb-4">Pilgramages</h2>
        <p class="lead mb-1">All our pilgrimages are in a true spirit of simplicity where we forgo the luxuries and pleasures of the world in order to be able to appreciate the basic things in life. All pilgrimages include daily mass and prayer time and a series of formational talks. We are also able to design and lead pilgrimages suited for parish, youth and other groups. Please contact us directly if you wish to set up a custom pilgrimage.</p>
      </div>
    </div>
  </div>
</section>