.header {
	background-size: cover;
	background-position: center;
}

.header-1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/hero-bg-6.jpg");
}

.header-2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/hero-bg-7.jpg");
}

.row-container {
	flex-direction: row;
	justify-content: center;
}

.carousel {
	width: 500px;
	height: 100%;
}

@media (max-width: 992px) {
	.row-container {
		flex-direction: column !important;
	}
	.carousel {
		width: auto !important;
		min-width: 300px !important;
		max-width: 750px !important;
	}
}

.slider-image {
	border-radius: 15px;
}

.slider-container {
	border-radius: 15px;
	border: 5px solid var(--bs-primary);
	align-self: center;
}

.slider-header {
	font-size: 4rem;
	color: white;
	text-shadow:
		3px 3px 0 var(--bs-primary),
		-3px 3px 0 var(--bs-primary),
		-3px -3px 0 var(--bs-primary),
		3px -3px 0 var(--bs-primary);
}

.slider-subheader {
	font-size: 3rem;
	color: white;
	text-shadow:
		3px 3px 0 var(--bs-primary),
		-3px 3px 0 var(--bs-primary),
		-3px -3px 0 var(--bs-primary),
		3px -3px 0 var(--bs-primary);
}