<div class="text-center header d-flex justify-content-evenly align-items-center" [class.header-2]="!!subtitle()" [class.header-1]="!subtitle()" style="min-height: 500px;">
  <div class="container m-0">
    <div class="d-flex row-container">
      <div class="pt-3 ps-3 pe-3">
        <img src="assets/favicon/web-app-manifest-512x512.png" class="img-fluid" alt="Scotland Flag" style="width: 100px;">
        <h2 class="fw-bold m-0 slider-header">Revive Scotland</h2>
        @if(subtitle()) {
          <h4 class="fw-bold m-0 slider-subheader">{{subtitle()}}</h4>
        }
        <div class="pt-3 ps-3 pe-3 slider-description">
          <i style="color: white;">
            {{slides()?.[activeSlide()]?.content}}
          </i>
        </div>
      </div>
      @if (slides() && slides()!.length > 0 ) {
        <div class="mt-3 mb-4 slider-container">
          <ngb-carousel #carousel
            [interval]="6000"
            class="carousel"
            [showNavigationArrows]="false"
            [pauseOnHover]="true"
            [pauseOnFocus]="true"
            (slide)="onSlide($event)">
            @for (img of slides(); track img; let i = $index) {
              <ng-template ngbSlide>
                <div style="background-color: var(--bs-secondary-bg); border-radius: 15px;">
                  <img [src]="slides()?.[i]?.image" alt="Revive Scotland Header" class="img-fluid slider-image w-100 object-fit-cover">
                </div>
              </ng-template>
            }
          </ngb-carousel>
        </div>
      }
    </div>
  </div>
</div>