<div style="display: flex; flex-direction: column; flex-grow: 1;">
  <div class="text-center" style="flex-grow: 1; align-content: center;">
    @if (success()) {
      <fa-icon [icon]="faCheck" class="fa-10x text-success" />
      <h1>Payment Complete</h1>
      @if (message()) {
        <h3>{{ message() }}</h3>
      } @else {
        <h3>Your payment was successful.</h3>
      }
      <h3>Thank You for Your Support!</h3>
      <button class="btn btn-primary mt-2" (click)="goHome()">Go Home</button>
    } @else if (!success()) {
      <fa-icon [icon]="faCross" class="fa-10x text-danger" />
      <h1>Payment Failed</h1>
      @if (message()) {
        <h3>{{ message() }}</h3>
      } @else {
        <h3>Sorry, there was an issue with your payment.</h3>
      }
      <button class="btn btn-primary mt-2" (click)="goHome()">Go Home</button>
    } @else {
      <fa-icon [icon]="faCross" class="fa-10x text-info" />
      <h1>An Error Occured</h1>
      <h3>If the error persists please contact us.</h3>
    }
  </div>
  <app-footer />
</div>