<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/api/img/logo.png?w=640&f=webp"
        srcset="
          /api/img/logo.png?w=320&f=webp 320w,
          /api/img/logo.png?w=640&f=webp 640w,
          /api/img/logo.png?w=1024&f=webp 1024w
        "
        sizes="(max-width: 600px) 100vw, 600px"
        alt="Site Logo"
        loading="lazy"
        width="100"
        decoding="async"
      />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        @if (url() !== "") {
          <a class="nav-link clickable" routerLink="/" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
            <fa-icon [icon]="iconSvc.getIcon('fas', 'home')" />
            Home
          </a>
        }
        @if (url() !== "/events") {
          <a class="nav-link clickable" routerLink="/events" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
            <fa-icon [icon]="iconSvc.getIcon('fas', 'calendar')" />
            Upcoming Events
          </a>
        }
        @if (url() === "") {
          <a class="nav-link clickable" (click)="scrollTo('#pilgrimage')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
            <fa-icon [icon]="iconSvc.getIcon('fas', 'cross')" />
            Pilgrimages
          </a>
          <a class="nav-link clickable" (click)="scrollTo('#adoration')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
            <fa-icon [icon]="iconSvc.getIcon('fas', 'praying-hands')" />
            Adoration
          </a>
          <a class="nav-link clickable" (click)="scrollTo('#weekends')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
            <fa-icon [icon]="iconSvc.getIcon('fas', 'user-friends')" />
            Revive Weekends
          </a>
        }
      </ul>
    </div>
  </div>
</nav>