<nav class="navbar navbar-expand-sm h-100">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand p-2" href="/">
      <img src="/api/img/logo.png?w=640&f=webp"
        srcset="
          /api/img/logo.png?w=320&f=webp 320w,
          /api/img/logo.png?w=640&f=webp 640w,
          /api/img/logo.png?w=1024&f=webp 1024w
        "
        sizes="(max-width: 600px) 100vw, 600px"
        alt="Site Logo"
        loading="lazy"
        width="100"
        decoding="async"
      />
    </a>
    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed()">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link link show display-4 text-center" (click)="goTo('')" [class.active]="url() === ''">
            <app-icon icon="home" />
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link show display-4 text-center" (click)="goTo('events')" [class.active]="url() === '/events'">
            <app-icon icon="calendar" />
            Events
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link show display-4 text-center" (click)="goTo('gallery')" [class.active]="url() === '/gallery'">
            <app-icon icon="image" />
            Gallery
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>