<div class="modal-header">
  <h5 class="modal-title">{{this.event.title}} Sign Up</h5>
  @if (!processing()) {
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()"></button>
  }
</div>

<div class="modal-body">
  @if (loading()) {
    <div class="d-flex flex-column align-items-center m-3">
      <fa-icon [icon]="faSpinner" animation="spin" size="2x" class="mb-2" />
      Loading...
    </div>
  } @else if (error()) {
    <div class="d-flex flex-column align-items-center m-3">
      <fa-icon [icon]="faWarning" size="2x" class="mb-2" />
      <p>Error Message: {{errorMessage()}}</p>
      <p>Please try again later. If the error persists, please contact us.</p>
    </div>
  } @else if (processing()) {
    <div class="d-flex flex-column align-items-center m-3">
      <fa-icon [icon]="faSpinner" animation="spin" size="2x" class="mb-2" />
      Processing Registration...
    </div>
  } @else if (processingSuccess()) {
    <div class="d-flex flex-column align-items-center m-3">
      <fa-icon [icon]="faCheck" class="fa-10x text-success" />
      @if (event?.payment_required) {
        <h1>Provisional Registration Successful</h1>
      } @else {
        <h1>Registration Successful</h1>
      }
      <p class="text-center">Thank you for registering for {{this.event.title}}. An email confirmation has been sent to {{this.model.email}}.</p>
      @if (event?.payment_required && paymentLink()) {
        <a href="{{paymentLink()}}" target="_blank" class="btn btn-primary">Pay Registration Fee</a>
        <p class="text-center">Please pay the registration fee to secure your place. You can also pay the registration fee later via the link in your confirmation email.</p>
        <p class="text-center">Alternatively, you can pay the registration fee in person. Your place is not secure until payment of this fee.</p>
      }
      <p class="text-center">We look forward to seeing you soon.</p>
    </div>
  } @else {
    <div class="accordion mb-3" id="eventAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#eventCollapseOne" aria-expanded="false" aria-controls="eventCollapseOne">
            Event Details
          </button>
        </h2>
        <div id="eventCollapseOne" class="accordion-collapse collapse" data-bs-parent="#eventAccordion">
          <div class="accordion-body">
            <formly-form [form]="eventForm" [fields]="eventFields" [model]="eventModel"></formly-form>
          </div>
        </div>
      </div>
    </div>
    <formly-form [form]="form" [fields]="fields" [model]="model" />
  }
</div>

@if (!processing) {
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close ( )">Close</button>
    @if (!processingSuccess && !error && !loading) {
      <button type="button" class="btn btn-primary" [disabled]="!form.valid || !this.model.accepted_gdpr || !this.model.accepted_event_policy" (click)="register()">Register</button>
    }
  </div>
}