<div class="mbr-overlay background-blur"></div>
<div class="header-component">
  <div class="page-header page-header-small">
    <div class="page-header-image"></div>
    <div class="container">
      <div class="content-center">
        <div class="h2 title">{{error}}</div>
        <p>{{description}}</p>
        <div class="d-flex justify-content-center gap-2">
          <a href="/" class="btn btn-lg btn-icon home-link" title="Home">
            <fa-icon [icon]="iconSvc.getIcon('fas', 'home')" size="lg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>