<div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(40, 43, 47);"></div>
<div class="header-component">
  <div class="page-header page-header-small">
    <div class="page-header-image"></div>
    <div class="container">
      <div class="content-center">
        <div class="profile-image">
          <a href="/">
            <img src="/assets/img/revive-weekends.jpg" alt="Main Background" style="object-fit: cover;"/>
          </a>
        </div>
        <div class="h2 title">{{error}}</div>
        <p>{{description}}</p>
        <div class="d-flex justify-content-center gap-2">
          <a href="/" class="btn btn-lg btn-icon" title="Home" style="background-color: gray;">
            <fa-icon [icon]="faHome" size="lg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>