<div class="modal-header">
  <button type="button" class="btn-close" aria-label="Close" (click)="this.close()"></button>
</div>
<div class="p-0">
  <img [attr.src]="imgSrc(imageURLs()[currentIndex()], 640)"
    [attr.srcset]="imgSrcset(imageURLs()[currentIndex()])"
    sizes="(max-width: 600px) 100vw, 600px"
    alt="Image {{ currentIndex() + 1 }} - Expanded"
    decoding="async"
    class="block w-full object-contain"
    style="max-height: 80vh;"
  />
</div>
<div class="modal-footer">
  <button type="button" class="btn-secondary" (click)="prevImage()">
    <app-icon icon="chevron-left" />
  </button>
  <a [href]="imgSrc(imageURLs()[currentIndex()], 1024)" class="btn-primary" download>
    <app-icon icon="download" /> Download
  </a>
  <button type="button" class="btn-secondary" (click)="nextImage()">
    <app-icon icon="chevron-right" />
  </button>
</div>

<div class="hidden">
  @if (imageURLs()[currentIndex() + 1]) {
    <img [src]="imgSrc(imageURLs()[currentIndex() + 1], 1024)" alt="">
  }
  @if (imageURLs()[currentIndex() - 1]) {
    <img [src]="imgSrc(imageURLs()[currentIndex() - 1], 1024)" alt="">
  }
</div>
