<div class="w-full space-y-3">
  <input
    type="text"
    [formControl]="inputControl"
    [class.is-invalid]="formControl.invalid && (formControl.touched || formControl.dirty)"
    [id]="id"
    [required]="props.required || false"
    [placeholder]="props.placeholder || 'Search for an address...'"
    class="form-control"
    (input)="searchAddress($event.target.value)">

  @if (searchResults().length > 0) {
    <formly-form
      [form]="selectAddressForm"
      [model]="selectAddressModel"
      [fields]="selectAddressFields" />
  }

  @if (loading()) {
    <div class="flex items-center gap-2 text-sm text-gray-500">
      <app-icon icon="spinner" iconAnimation="spin" />
      Loading...
    </div>
  }

  @if (formControl.invalid && (formControl.dirty || formControl.touched)) {
    <formly-validation-message [field]="field" class="invalid-feedback" />
  }
</div>
