<div class="w-100 input-group">
  <input
    type="text"
    [formControl]="inputControl"
    [id]="id"
    [placeholder]="props.placeholder || 'Search for an address...'"
    class="w-100 form-control"
    (input)="searchAddress()">

  @if (searchResults().length > 0) {
    <div class="mt-3 w-100">
      <formly-form
        [form]="selectAddressForm"
        [model]="selectAddressModel"
        [fields]="selectAddressFields" />
    </div>
  }

  @if (loading()) {
    <div class="mt-3">
      <fa-icon [icon]="iconSvc.getIcon('fas', 'spinner')" animation="spin" />
      Loading...
    </div>
  }
</div>